<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>SuperWorld AR real estate admin on Ethereum blockchain</title>

    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">

      <div class="title-overlay text-center" style="width: 640px">
        <div style="font-size: 1.2em"><b>SuperWorld AR Real Estate admin</b></div>
        <div id="blockchainType">on Etherium blockchain</div>
        <div class="input-group">
          <span class="input-group-addon" id="ar-land-contract-label" style="width: 200px">contract address</span>
          <input type="text" class="form-control" id="arLandContractAddress" style="width: 400px" placeholder="AR land contract" aria-label="AR land contract" aria-describedby="ar-land-contract-label">
        </div>
        <div class="input-group">
          <span class="input-group-addon" id="ar-land-eth-label" style="width: 200px">contract ETH</span>
          <input type="text" class="form-control" id="arLandContractETH" style="width: 400px" placeholder="contract ETH" aria-label="contract ETH" aria-describedby="ar-land-eth-label">
        </div>
        <div class="input-group">
          <span class="input-group-addon" id="base-price-eth-label" style="width: 200px">base price in ETH</span>
          <input type="text" class="form-control" id="basePriceInETH" style="width: 400px" placeholder="base price in ETH" aria-label="base price in ETH" aria-describedby="base-price-eth-label">
        </div>
        <div class="input-group">
          <span class="input-group-addon" id="my-account-label" style="width: 200px">my account address</span>
          <input type="text" class="form-control" id="myAccountAddress" style="width: 400px" placeholder="my account address" aria-label="my account address" aria-describedby="my-account-label">
        </div>
        <div class="input-group">
          <span class="input-group-addon" id="coins-label" style="width: 200px">my coins</span>
          <input type="text" class="form-control" id="myAccountCoins" style="width: 400px" placeholder="my SuperWorldCoins" aria-label="my SuperWorldCoins" aria-describedby="coins-label">
        </div>
        <div class="input-group">
          <span class="input-group-addon" id="eth-label" style="width: 200px">my ETH</span>
          <input type="text" class="form-control" id="myAccountETH" style="width: 400px" placeholder="my ETH" aria-label="my ETH" aria-describedby="eth-label">
        </div>
        <div id="blockchainStatus" style="color: gray; font-style: italic"></div>
        <br/>
        <button id="basePriceButton">set base price</button>
        <br/>
        <br/>
        <button id="balanceButton">refresh contract balance</button>
        <br/>
        <br/>
        <button id="withdrawButton">withdraw from contract</button>
      </div>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/web3.min.js"></script>
    <script src="../js/truffle-contract.js"></script>
    <script src="../js/admin.js?_=2"></script>
  </body>
</html>
